<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_page</title>
</head>
<body>
    <nav>
        <a href="https://chandrakanth0698-portfolio-website-home-uin4cg.streamlit.app/">My Portfolio</a>
        <a href="/contct-us/">Contact me</a>
    </nav>
    <h1>Welcome</h1>
    <h2>Chandrakanth Bogra</h2>
    <a href="https://chandrakanth0698-portfolio-website-home-uin4cg.streamlit.app/">My Portfolio</a>
    <p>Hello, this is my webpage</p>
    <img src="{{url_for('static', filename='my_image.JPG')}}" style="width:300px">
    <br>
    <br>
</body>
</html>